@import './variables';

// Import Bootstrap and BootstrapVue source SCSS files
@import '~bootstrap/scss/bootstrap';
@import "./partial/buttons";



/*---------- common ----------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
  --modal-header-padding: 12px;
  --modal-title-line-height: 21px;
  --modal-title-font-size: 14px;
  --spacing-scale: 1;
  --bg: $white;

  @include media-breakpoint-up(sm) {
    --modal-header-padding: 32px;
    --modal-title-line-height: 24px;
    --modal-title-font-size: 18px;
    --spacing-scale: 2;
  }
}

html,
body {
  overflow-y: hidden;
  height: 100%;
  width: 100%;
}

#__nuxt {
  height: 100%;
  width: 100%;
}

body {
  background-color: $dark;
  font-family: 'Poppins', sans-serif;
  overflow-y: auto;
  transition: background-color 0.3s;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

#app {
  background-image: none;
  position: relative;

  @include media-breakpoint-up(lg) {
    background-position: 2% 34%, 2% 74%, 0% 100%, 97% 28%, 92% 33%, 97% 41%, 100% 89%;
    background-size: auto, auto, auto, auto, auto, auto, auto;
    background-repeat: no-repeat;
  }
}


/* Scroll */

::-webkit-scrollbar {
  width: 5px;
  height: 5px;

  &-thumb {
    background: white;
    border-radius: 10px;

    &:hover {
      background: $dark;
    }
  }
}


/* custom general clases */

.fs-inherit {
  font-size: inherit;
}

.fs-30 {
  font-size: 25px;
  @include media-breakpoint-up(lg) {
    font-size: 30px;
  }
}

.fs-40 {
  font-size: 40px;
}

.fs-lg-80 {
  font-size: 55px;
  @include media-breakpoint-up(lg) {
    font-size: 80px;
  }
}

.card-width {
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  @include media-breakpoint-up(md) {
    width: 75%;
  }

  @include media-breakpoint-up(lg) {
    width: 485px;
  }

  &:not(:last-child) {
    margin-bottom: 16px;

    @include media-breakpoint-up(lg) {
      margin-right: 20px;
      margin-bottom: 0;
    }
  }


}

.card-benefit,
.card-liberti {
  border-radius: 20px;
  padding: 8px;
}

.card-benefit {
  background: #214185;
  color: white;
}



.card-body,
.card-header {
  padding: 15px;
  flex-direction: column;
  border-bottom: 0;

  @include media-breakpoint-up(sm) {
    font-size: 24px;
  }
}

.card-body {
  display: flex;
  justify-content: space-between !important;
  align-items: center;
}



.card {
  &-title {
    font-family: 'Inter';
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: $black;
    margin: 32px 0;
  }

  &-footer,
  &-body {
    background-color: white;
  }

  &-header {
    @extend .text-center;
    background-color: transparent;
    padding: 24px 0 32px;

    &+.card-body {
      border-radius: 24px 24px 0 0;
    }
  }

  &-body {
    padding: 24px 24px 3px;

    @include media-breakpoint-up(md) {
      padding: 32px 24px 3px;
    }

    &:last-child {
      border-radius: 24px;
    }
  }
}
